@media (max-width: 479px) {
  body {
    font-weight: 400;
    text-align: center;
  }
  h1 {
    display: block;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1px;
    padding-left: 1px;
    float: none;
    box-shadow: #ccc 0px 1px 6px 0px;
    font-family:'Open Sans', sans-serif;
    color: #111125;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    height: 30px;
  }
  .login-text {
      position: absolute;
      left: 200px;
      top: 100px;
      font-family: 'Open Sans', sans-serif;
      color: #111125;
      font-size: 18px;
      font-weight: 10; 
      text-align: center;
      height: 30px; 
  }
  .button {
    position: absolute;
    width: 800px;
    height: 100px;
    background-color: white;
    box-shadow: #ccc 0px 1px 6px 0px;
    font-family:'Open Sans', sans-serif;
    color: #111125;
    font-size: 18px;
    font-weight: 100;
  }
  .login {
    height: 40px;
    width: 10px; 
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 19px;
    padding-left: 0px;
    font-family:'Open Sans', sans-serif;
    text-align: left;
  }
  .submitbutton {
    float: right;
  }
  .header {
    background-color: #111125;
  }
}
