@media (max-width: 1000px) {
  body {
    font-weight: 400;
    text-align: center;
  }
  h1 {
    display: block;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1px;
    padding-left: 1px;
    float: none;
    box-shadow: #ccc 0px 1px 6px 0px;
    font-family:'Open Sans', sans-serif;
    color: #1111254;
    font-size: 120px;
    font-weight: 200;
    text-align: center;
    height: 30px;
  }
  .button {
    position: absolute;
    width: 600px;
    top: 300px;
    left: 20%;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    font-size: 120px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 4px 4px #eee;
    background-color: white;
  }
  .submitbutton {
    float: right;
  }
  .header {
    background-color: #1111254;
  }
}
