
@media (max-width: 500px) {
    .generic_tag {
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-top-left-radius: 4px;
        color: #fff;
        font-size: 20px;
       /* box-shadow: 0 0 4px 4px #e6e6e6;
        */
    }
    .tally {
        margin-top: -60px;
        margin-left: 0px;
        color: #111125;
        height: 60px;
        line-height: 55px;
        text-decoration: none;
        background-size: 15px 15px;
        background-image: url('gird.jpg');
        font-family: 'black';
        -webkit-filter: grayscale(0.5) blur(.1px);
        opacity: .3;
    }
    .tally-value {
        margin-left: 0px;
        color: #111125;
        height: 60px;
        line-height: 55px;
        text-decoration: none;
        background-color: transparent;
        font-family: 'black';
        z-index: 3;
    }
    .author_name {
        height: 50px;
        width: 200px;
        margin-left: 70px; 
        margin-top: -55px;
        text-align: left;
        font-size: 16px;
        color: #282828;
    }
    .question-time {
        height: 40px;
        width: 200px;
        margin-left: 70px;
        margin-top: -25px;
        text-align: left;
        font-size: 14px;
        color: #a5a5a5;
    }
}
