body {
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 479px) {
  h3 {
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
  }
  h4 {
    width: auto;
    margin-top: 3px;
    margin-bottom: 0px;
    padding-left: 6px;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
  }
  .button.attendbutton {
    margin-bottom: 5px;
    margin-left: 4px;
    float: left;
    text-align: right;
  }
  .divider {
    border-top-style: solid;
    border-top-width: 27px;
    border-bottom-style: solid;
    opacity: 1;
  }
  .officehours {
    border: 5px solid black;
    background-color: #f90;
  }
  .officehours.current {
    background-color: #f2ff00;
  }
  .officehours.upcoming {
    background-color: #62ff00;
  }
  .time {
    margin-bottom: 3px;
    font-style: italic;
    text-align: center;
  }
  .header {
    border-bottom-style: solid;
    border-bottom-width: 5px;
  }
  .descriptortext {
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    text-align: left;
  }
}