@media (max-width: 700px) {
  @font-face {
    font-family: 'black';
    src: url('/fonts/ClanOT-Bold.otf');
  }
  @font-face {
    font-family: 'book';
    src: url('/fonts/ClanOT-Book.otf');
  }
  @font-face {
    font-family: 'medium';
    src: url('/fonts/ClanOT-Medium.otf');
  }
  @font-face {
    font-family: 'thin';
    src: url('/fonts/ClanOT-Thin.otf');
  }
  @font-face {
    font-family: 'news';
    src: url('/fonts/ClanOT-News.otf');
  }
  .login-button-color {
    color: #111125;
    text-decoration: none;
  }
  .login-spacing {
    position: fixed;
    top: -2px;
    right: 20px;
  }
  .white-link-color {
    color: #fff;
    text-decoration: none;
  }
  body {
    font-weight: 200;
    text-align: center;
    font-family: 'thin'; 
    background-size: 15px 15px;
    background-image: url('gird.jpg');
  }
  @-webkit-keyframes fadeIn {
    from { opacity: 0;}
      to { opacity: 1;}
  }
  @-webkit-keyframes fadeOut {
    from {opacity: 1;}
      to {opacity: 0;}
  }
  .login-button {
    position: absolute;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;

  }
  .fade-out {
    opacity: 0.0;
  }
  .fade-in {
    -webkit-animation: fadeIn .4s;
    opacity: 1;
  }
  .join-class-button {
    background-color: #4dbef8;
    border-radius: 5px;
    color: #f1f1f1;
    width: 83%;
    left: 8%;
    height: 50px;
    margin: 10px auto 0 auto;
    box-shadow: 0 0 4px 4px #eee;
    line-height: 54px;
    margin-top: 40px;
    text-transform: uppercase;
    opacity: 1;
    z-index: 2;
  }
  .joining-class-button {
    background-color: #4dbef8;
    border-radius: 5px;
    color: #f1f1f1;
    width: 83%;
    left: 8%;
    height: 50px;
    margin: 10px auto 0 auto;
    box-shadow: 0 0 4px 4px #eee;
    line-height: 54px;
    margin-top: 40px;
    text-transform: uppercase;
    opacity: 1;
    z-index: 2;
    -webkit-animation: fadeOut .4s;
    
  }
  .hidden {
    opacity: 0;
  }
  .join-class-buttons {
    -webkit-animation: fadeOut .4s;
    opacity: 0;
    z-index: -1;
  }
  .thug {
    border: 0px solid white;
    background-color: transparent;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: 100;
    margin-top: 10px;
    font-family: 'news';
    text-transform: uppercase;
    z-index: 3;
  }

  .back-button {
    background-color: transparent;
    position: absolute;
    margin-top: 0px;
    margin-left: -42%;
    color: #000;
  }
  .login-form {
      position: absolute;
      top: 190px;
      width: 80%;
      height: 100px;
      line-height: 70px;
      background-color: #eee;
      margin-left: 10%;
      opacity: .85;
      z-index: 4;
      opacity: .65;
      box-shadow: 0 0 4px 4px #d1d1d1;
      text-align: center;
  }
  .new-question-text {
    background-color: transparent;
    position: absolute;
    margin-top: 0px;
    margin-left: -39%;
    color: #96e264;
  }
  .black-border {
    border: 1px solid #343434;
  }
  .green-border {
    border: 1px solid #98e466;
  }
  .back-button-header {
    background-color: transparent;
    position: absolute;
    margin-top: 32px;
    margin-left: -45%;
    color: #111125;
    text-decoration: none;
    margin-top: 30px;
  }
  .back-button-cancel {
    background-color: transparent;
    position: absolute;
    margin-top: 32px;
    margin-left: -45%;
    color: #111125;
    text-decoration: none;
    margin-top: 20px;
  }
  .cancel-back-button {
    background-color: transparent;
    position: absolute;
    margin-top: 20px;
    color: #f1f1f1;
  }
  .question {
    background-color: #fff;
    color: #2d2d2d;
    box-shadow: 0 0 4px 4px #eee;
    margin: 10px 0px 10px 0px;
    border-radius: 4px;
  }
  
  #Member {
    box-shadow: 0 0 4px 4px #dedede;
  }
  
  #nonMember{
 	 box-shadow: 1px solid #dedede;
 }
   
  .oh-container {
    background-color: #fff;
    border: 1px solid #eee;
    color: #2d2d2d;
    box-shadow: 0 0 3px 3px #e4e4e4; 
    margin: 10px 0px 10px 0px; 
    border-radius: 3px;
    height: 250px;
  }
  .contacts-container {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #2d2d2d;
    margin: 10px 0px 10px 0px; 
    border-radius: 3px;
  }
  .image-container {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #2d2d2d;
    margin: 10px 0px 10px 0px; 
    border-radius: 3px;
    width: 200px;
    height: 200px;
  }
  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }
  .header-margin {
    background-color: transparent;
    border: 0px solid #e2e2e2;
    margin: 10px 0px 10px 0px; 
    border-radius: 3px;
    height: 48px;
  }
  .new-question-container {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    color: #2d2d2d;
    box-shadow: 0 0 3px 3px #e5e5e5; 
    margin: 10px 0px 10px 0px; 
    border-radius: 3px;
    height: 220px;
    padding-top: 25px;
  }
  .new-oh-container {
    padding-top: 20px;
    background-color: #fff;
    border: 1px solid #eee;
    color: #2d2d2d;
    box-shadow: 0 0 3px 3px #eee; 
    margin: 10px 0px 10px 0px; 
    border-radius: 5px;
    height: 320px;
  }
  .remove-button {
    background-color: transparent;
    position: absolute;
    margin-top: -55px;
    margin-left: 79%;
    line-height: 20px;
  }
  .iono {
    position: relative;
    margin-right: -20px;
    margin-top: -10px;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 50px;
    border: 0px;
    color: #ff6b6d;
    font-family: 'thin';
  }
  .ionoi {
    position: relative;
    margin-right: -20px;
    margin-top: -10px;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 50px;
    border: 0px;
    color: #ff6b6d;
    font-family: 'thin';
  }
  .ino {
    width: 100px;
    height: 80px;
    margin-left: -50px;
    text-transform: uppercase;
  }
  .remove-class-button {
    border: 2px;
    background-color: transparent;
    border-radius: 3px; 
    border: 0px solid black;
    position: absolute;
    margin-top: 10px;
    margin-left: 80%;
    line-height: 20px;
  }
  .class-container {
    background-color: #fff;
    border: 1px solid #eee;
    color: #2e2e2e;
    box-shadow: 0 0 4px 4px #eee;
    border-radius: 3px;
    height: 280px;
    margin: 10px 0 10px 0;
  }
  .new-class-container {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 4px 4px #e6e6e6;
    height: 260px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
  }
  .course-title {
    margin-top: 40px;
  }
  .nav-link-a {
    position: absolute;
    left: 50px;
  }
  .nav-link-b {
    position: absolute;
    margin-left: 100px;
  }
  .nav-link-d {
    position: absolute;
    margin-left: auto;
    color: #fff;
  }
  .nav-link-c {
    position: absolute;
    margin-left: 250px;
  }
  .footer-nav {
    position: fixed;
    bottom: 10px;
    left: 10%;
    height: 50px;
    width: 80%;
    background-color: #4ed966;
    line-height: 54px;
    padding: auto;
    border-radius: 5px;
    color: #fff;
    font-family: 'thin';
    text-transform: uppercase;
  }
  .nav-background {
    position: fixed;
    bottom: -90px;
    height: 70px;
    width: 110%;
    background-color: #000;
    opacity: .9;
  }
  .nav-bar-background {
    position: fixed;
    bottom: 0px; 
    height: 70px;
    width: 110%;
    margin-left: -5%;
    background-color:#eee;
    opacity: .7;
    box-shadow: 0 0 5px 5px #dcdcdc;
  }
  .footer-margin {
    height: 50px;
    background-color: transparent;
    border: 0px solid white;
    width: 100%;
  }
  .nav-bar-spacing {
    height: 60px;
    background-color: transparent;
    width: 100%;
  }
  .question-button-spacing {
    height: 20px;
    background-color: transparent;
    width: 100%;
  }
  .oh-label {
    font-weight: 400;
    text-decoration: underline;
    font-size: 18px;
  }
  .view-class-button {
    background-color: #4dbef8;
    border-radius: 5px;
    color: #f1f1f1;
    width: 83%;
    left: 8%;
    height: 50px;
    margin: 10px auto 0 auto;
    box-shadow: 0 0 4px 4px #eee;
    line-height: 54px;
    margin-top: 40px;
    text-transform: uppercase;
  }
  .submit-class-button{
    background-color: #4ed966;
    border: 0px solid #333;
    border-radius: 5px;
    color: #f1f1f1;
    width: 50%;
    height: 45px;
    margin: 20px auto 0 auto;
    line-height: 45px;
    padding: auto;
    opacity: .9;
  }
  .create-class-button{
    background-color: #111125;
    border: 0px solid #fff;
    border-radius: 3px;
    color: #f1f1f1;
    width: 0;
    left: 50%;
    height: 45px;
    margin: 10px auto 0 auto;
    box-shadow: 0 0 4px 4px #d3d3d3;
    line-height: 45px;
    padding-left: 45%;
    opacity: .9;
  }
  .class-title {
    margin-top: 20px;
  }
  .big-button {
    width: 500px;
  }
  .join-oh-button {
    background-color: #4dbef8;
    border: 0px solid #ddd;
    border-radius: 5px;
    color: #f1f1f1;
    width: 80%;
    left: 10%;
    height: 50px;
    margin: 10px auto 0 auto;
    box-shadow: 0 0 3px 3px #efefef;
    line-height: 50px;
    opacity: .95;
    margin-top: 23px;
    text-transform: uppercase;
  }
  .add-oh-button {
    background-color: #111125;
    border: 0px solid #ff2a64;
    border-radius: 3px;
    color: #f1f1f1;
    width: 60%;
    left: 15%;
    height: 50px;
    margin: 10px auto 0 auto;
    box-shadow: 0 0 4px 4px #d3d3d3;
    line-height: 50px;
    opacity: .95;
  }
  .leave-question-button {
    background-color: #ff6b6d;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #f1f1f1;
    width: 80%;
    left: 25%;
    height: 50px;
    margin: 10px auto 0 auto;
    line-height: 50px;
    opacity: .95;
  }
  .join-question-button {
    background-color: #4dbef8;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #f1f1f1;
    width: 80%;
    left: 25%;
    height: 50px;
    margin: 10px auto 0 auto;
    line-height: 50px;
    opacity: .95;
  }
  h1 {
    margin-top: 24px;
    margin-left: auto;
    padding-right: 1px;
    padding-left: 1px;
    float: none;
    color: #111125;
    font-weight: 100;
    text-align: center;
    font-family: 'news';
    font-size: 61px;
  }
  h2{
    font-family:'thin', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 26px;
    color: #111125;
  }
  h3 {
    font-family: 'black';
    font-size: 20px;
    text-align: center;
    color: #111125;
    margin-top: 19px;
  }
  .textfield {
      border-left-color: #aaa;
  }
  .label {
    border-left-color: #111125; 
    font-weight: 400;
  }
  .login {
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 19px;
    padding-left: 0px;
    font-family:'thin', sans-serif;
    text-align: left;
  }
  .submitbutton {
    float: right;
    background: #33CCFF
  }
  .header-custom {
    background-color: #00bad7;
  }
  .standardButton {
      background-color: #fff;
      text-align: center;
      color: #000;
      width: 170px;
      height: 40px; 
      float: left;
      padding: 8px 0px 9px 0px;;
  }

  #map-canvas { 
    height: 100%;
  }
  .pimp {
    color: white;
  }
  .new-question-button {
    background-color: #111125;
    border: 1px solid #ddd;
    color: #96e264;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 45%;
    margin-left: -10px;
    margin-top: -4px;
    opacity: .9;
    position: fixed;
  }
  .post-question-button {
    background-color: #111125;
    border-radius: 4px;
    box-shadow: 0 0 3px 3px #111125;
    border: 0px solid #96e264;
    color: #96e264;
    width: 55%;
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
  }
  .post-question {
    background-color: transparent;
    border: 0px solid purple;
    font-size: 16px;
    color: #f1fcf8;
    text-transform: uppercase;
    font-family: 'thin';
  }
  .join-class-as-ta {
    position: absolute;
    background-color: transparent;
    border: 0px;
    width: 40%;
    height: 50px;
    margin-left: -40%;
    font-size: 15px;
    color: #fff;
    font-family: 'thin';
    margin-top: 20px;
    text-transform: uppercase;
  }
  .ta-container {
    position: absolute;
    background-color: #f36aab;
    border: 0px solid purple;
    width: 40%;
    height: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 15px;
    color: #fff;
    margin-left: 8%;
    font-family: 'thin';
    margin-top: 20px;
    text-transform: uppercase;
  }
  .join-class-as-student {
    position: absolute;
    background-color: transparent;
    border: 0px solid purple;
    width: 40%;
    height: 50px;
    font-size: 15px;
    color: #fff;
    font-family: 'thin';
    margin-top: 20px;
    text-transform: uppercase;
  }
  .student-container {
    position: absolute;
    background-color: #9065ac;
    border: 0px solid purple;
    width: 41%;
    height: 50px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 20px;
    margin-left: 46%;
    text-transform: uppercase;
    opacity: 1;
  }
  .logoutButton {
      background-color: #fff;
      border-color: #000;
      border-radius: 3px; 
      color: #333;
      box-shadow: 3px 0 0 #111125;
      width: 100px; 
      height: 20px; 
      float: right;
      padding: 8px 0 8px 0;
  }
  .button.classbutton {
    margin-top: 3px;
    margin-right: 0px;
    margin-bottom: 9px;
    padding: 8px 71px;
  
  }
  .button.removeClass{
    margin-left: 0px;
    margin-top:3px;
    margin-bottom:9px;
    padding:8px;
    border: solid white;
    color: white;
  }
  .button.createaclass {
    margin-top: 24px;
    padding-right: 85px;
    padding-left: 85px;
    font-size: 15px;
  }

  .button {
    position: relative;
    font-family: 28px;
    margin-right: 50px;
    margin-left: 0px;
    margin-top: -80px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    width: 200px;
    font-size: 14pt;
    text-decoration: none;
  }
  .q1 {
    border: 1px solid white;
    background-color: #efefef;
    opacity: 0.25;
  }
  .title1 {
    opacity: 1;
    font-family:'Open Sans', sans-serif;
    color: black;
    font-size: 14px;
  }
  .q2 {
    height: 35px;
    background-color: #3b3b3b;
    color: #111125;
  }
  .sep1 {
    height: 35px;
    border: 1px solid #3b3b3b;
    background-color: #3b3b3b;
  }
  .sep2 {
    height: 35px;
    background-color: #3b3b3b;
  }
  .sep4 {
    height: 35px;
    background-color: #3b3b3b;
  }
  .joinButton {
  display: inline-block;
  padding: 4px 15px;
  background-color: #33CCFF;
  color: white;
  text-align: center;
  text-decoration: none;
  float:left;
}
.addQButton{
  color: black;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
}

.navbarbutton {
    position: static;
    left: 0px;
    top: 0px;
    width: 75px;
    padding-left: 18px;
    float: left;
    clear: none;
  }
  .icon {
    margin-right: auto;
    margin-left: auto;
    float: left;
  }
  .navbar {
    width: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
  }

}
