@media (max-width: 479px) {
  input {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #111125;
    box-shadow: 0 0 4px 4px #eee;
    margin: 0 0 10px 0; 
    height: 30px; 
    float: left; 
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
  }
  body {
    font-weight: 400;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  .question {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #111125;
    box-shadow: 0 0 4px 4px #eee;
    margin: 10px 0px 10px 0px;
  }
  h1 {
    display: block;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1px;
    padding-left: 1px;
    float: none;
    color: #111125;
    font-weight: 100;
    text-align: center;
    color: #990000;
  }
  h3{
    font-family:'Open Sans', sans-serif;
    text-align: center;
  }
  .createclassbutton {
      width: 339px;
      margin-right: 6px;
      padding-right: 20px; 
      background-color: #111125;
      color: #00bad8;
      text-align: center; 
  }
  .textfield {
      border-left-color: #aaa;
  }
  .label {
    border-left-color: #111125; 
    font-weight: 400;
  }
  .login {
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 19px;
    padding-left: 0px;
    font-family:'Open Sans', sans-serif;
    text-align: left;
  }
  .submitbutton {
    float: right;
    background: #33CCFF
  }
  .header {
    background-color: #111125;
  }
  .standardButton {
      background-color: #fff;
      text-align: center;
      color: #000;
      width: 170px;
      height: 40px; 
      float: left;
      padding: 8px 0px 9px 0px;;
  }
  .logoutButton {
      background-color: #fff;
      border-color: #000;
      border-radius: 3px; 
      color: #333;
      box-shadow: 3px 0 0 #ccc;
      width: 100px; 
      height: 20px; 
      float: right;
      padding: 8px 0 8px 0;
  }
  .button.classbutton {
    margin-top: 3px;
    margin-right: 0px;
    margin-bottom: 9px;
    padding: 8px 71px;
  
  }

  .button.removeClass{
    margin-left: 0px;
    margin-top:3px;
    margin-bottom:9px;
    padding:8px;
    border: solid white;
    color: white;
  }
  .button.createaclass {
    margin-top: 24px;
    padding-right: 85px;
    padding-left: 85px;
    font-size: 15px;
  }

.classlist{
  font-size: 0;
}

.button{
  font-size: 14pt;
  background: #33CCFF;
}

.help{
  text-align: right;
  float: right;
  padding-right: 3px;
}

a:link{
  color:black;
}
  {
  font-family:'Open Sans', sans-serif;
  }
  .button {
    margin-right: 50px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    width: 200px;
  }
  .q1 {
    border: 1px solid white;
    background-color: #efefef;
    opacity: 0.25;
  }
  .title1 {
    opacity: 1;
    font-family:'Open Sans', sans-serif;
    color: black;
    font-size: 14px;
  }
  .q2 {
    height: 35px;
    background-color: #3b3b3b;
    color: #111125;
  }
  .sep1 {
    height: 35px;
    border: 1px solid #3b3b3b;
    background-color: #3b3b3b;
  }
  .sep2 {
    height: 35px;
    background-color: #3b3b3b;
  }
  .sep4 {
    height: 35px;
    background-color: #3b3b3b;
  }
  .joinButton {
  display: inline-block;
  padding: 4px 15px;
  background-color: #33CCFF;
  color: white;
  text-align: center;
  text-decoration: none;
  float:left;
}
.addQButton{
  color: black;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
}

.navbarbutton {
    position: static;
    left: 0px;
    top: 0px;
    width: 75px;
    padding-left: 18px;
    float: left;
    clear: none;
  }
  .icon {
    margin-right: auto;
    margin-left: auto;
    float: left;
  }
  .navbar {
    width: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
  }

}
