<!DOCTYPE html>
{% autoescape true %}
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="/stylesheets/q.css"/>
  <link type="text/css" rel="stylesheet" href="/stylesheets/names.css"/>
  <link type="text/css" rel="stylesheet" href="/stylesheets/name_tags.css"/>
  <link type="text/css" rel="stylesheet" href="/stylesheets/header.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Open Sans:300,400,600,700,800"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <div class="header">
    <a class="back-button" href="/">Back</a>
    <h1>{{ question_name }}</h1>
    <a class="login-button" href="{{ url|safe }}">{{ url_linktext }}</a>
  </div>
  <body>
    {% for question in questions %}
      <div class="question">
        <div class="generic_tag" id= {{ name_color }}> {{ author_initial }} </div>
        {% if question.author %}
          <div class="author_name"> {{ question.author }} </div>
        {% endif %}
        {% if question_time %}
        <div class="question-time"> {{ question_time }} </div>
        {% endif %}
        <blockquote> {{ question.content }} </blockquote>
      </div>
    {% endfor %}
    <form action="/sign?question_name={{ question_name }}" method="post">
      <div><textarea name="content" rows="3" cols="40"></textarea></div>
      <div><input type="submit" class="standardButton" value="New Question"></div>
    </form>
  </body>
</html>
{% endautoescape %}
