<!DOCTYPE html>
{% autoescape true %}
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="/stylesheets/q.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/header.css">
  <!--<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  -->
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Open Sans:300,400,600, 700, 800"]
      }
    });
  </script>
  <div class="sticky-header">
    <a class="back-button-header" href="/">
      {% include "back_icon.html" %}
    </a>
    <h3> Join a Class </h3>
    <div class="login-spacing">
      <a class="login-button-color" href="{{ url|safe }}">{{ url_linktext }}</a>
    </div>
  </div>
  <body>
    <div class="header-margin"></div>
    {% for class in classes %}
      <div class="new-class-container">
        {% if class.removable %}
          <div class="remove-class-button">
            <form action="/delete_class/{{ class.title }}" method="post">
              <input class="thug" type="submit" value="X"/>
            </form>
          </div>
        {% endif %}
        <h2 class="class-title"> {{ class.title }} </h2>
        <div> Professor: {{ class.teacher }} </div>
        <div id="remove-me-{{class.teacher}}" onclick="fadeOut('{{class.teacher}}');" class="join-class-button"> Join Class </div>
        <div id="show-me-{{class.teacher}}" class="fade-out">
          <form action="/join_class_as_ta/{{ class.title }}" method="post">
            <div class="student-container"></div>
            <input type="submit" class="join-class-as-student" value="I'm a TA"/>
          </form>
          <form action="/join_class_as_student/{{ class.title }}" method="post">
            <div class="ta-container"></div>
            <input type="submit" class="join-class-as-ta" value="I'm a student"/>
          </form>
        </div>
      </div>
    {% endfor %}
    <div class="nav-bar-spacing"></div>
    <a href="/new_class">
    <div class="nav-bar-background">.</div>
    <div class="footer-nav">
      Create a Class
    </div>
    </a>
    <script type="text/javascript">
      function fadeOut(hello) {
        var removeID = "remove-me-" + hello;
        var showID = "show-me-" + hello;
        document.getElementById(removeID).className = "joining-class-button";
        document.getElementById(removeID).className = "hidden";
        document.getElementById(showID).className = "fade-in";
      }
      function hide() {
        document.getElementById("remove-me").className = "hidden";
        document.getElementById("show-me").className = "fade-in";
        //window.setTimeout(show, 400);
      }
      function show() {
        document.getElementById("show-me").className = "fade-in";
      }
    </script>
  </body>
</html>
{% endautoescape %}