<!DOCTYPE html>
{% autoescape true %}
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="/stylesheets/q.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/header.css">
  <!--<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  -->
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Open Sans:300,400,600, 700, 800"]
      }
    });
  </script>
  <body>
    <div class="sticky-header">
      <a class="back-button-header" href="/">
        {% include "back_icon.html" %}
      </a>
      <h3 class="page-title-class"> {{ nick_name }} </h3>
      <div class="login-spacing">
        <a class="login-button-color" href="{{ url|safe }}">{{ url_linktext }}</a>
      </div>
    </div>
    <div class="header-margin"> </div>
    {% if no_oh %}
      {% if is_ta %}
        <div> Be the first TA to schedule Office Hours! </div>
      {% else %}
        <div> There are currently no Office Hours </div>
        <div> scheduled for this class. </div>
      {% endif %}
    {% endif %}
    {% for oh in office_hours %}
      {% if oh.ended == false %}
        <div class="oh-container">
          <h2>{{ oh.first_name }} {{ oh.last_name }}'s Office Hours</h2>
          <div> {{ oh.day }}, {{ oh.start_time }} - {{ oh.end_time }} </div>
          <div> {{ oh.location }} </div>
          {% if not oh.attending_count %}
            <div> Be the first to attend! </div>
          {% else %}
            <div> {{ oh.attending_count }} student(s) have joined</div>
          {% endif %}
          {% if oh.active == true %}
            <a class="white-link-color" href="/q/{{ class_name }}+{{oh.identifier}}">
              <div class="join-oh-button">
                Join Office Hours
              </div>
            </a>
          {% endif %}
          <!--<div class="join-oh-button"><a href="/q/A+Phantom"> Join OH </a></<div></div>iv>-->
        </div>
      {% endif %}
    {% endfor %}
    {% if is_ta %}
      <div class="nav-bar-spacing"></div>
      <div class="nav-bar-background">.</div>
      <a href="/new_oh/{{ class_name }}">
        <div class="footer-nav">
          Add Office Hours
        </div>
      </a>
    {% endif %}
  </body>
</html>
{% endautoescape %}
