

    <div class="footer-nav" data-collapse="all" data-animation="default" data-duration="400" data-contain="1">

      <div class="w-nav-button navbarbutton">
        <div class="nav-link-a">
           <a href="/"> 
              {% include "home_icon.svg" %}
            </a>
        </div>
      </div>

      <div class="w-nav-button navbarbutton">
        <div class="nav-link-b">
          <a href="/schedule"> 
            {% include "calendar2.svg" %}
          </a>
        </div>
      </div>

      <div class="w-nav-button navbarbutton">
        <div class="nav-link-d">
          <a href="/newQ/{{ question_name }}">
            {% include "plus_icon.svg" %}
          </a>
        </div>
      </div>

  </div>
